@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@600&display=swap');
* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Serif', serif;
}
body{
    background-color: #ffffff;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    font-family: sans-serif;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    
}
.navbar-about {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}
.navbar-about li{
    font-size: 1rem;
    margin: 10px;
    font-weight: 700;
    color: black;
    text-decoration: none;
    
}
nav button{
    padding: 10px;
    background-color: rgb(15, 51, 117);
    color: #F0F6FB;
    border-radius: 5px;
    border: none;
}
main{
    position: relative, 

}
.img-container{
    background-color: #F0F6FB; 
    width: 100%;
}
.container{
    width: 85%;
    height: 50vh;
    display: flex;
    margin: 0 auto;
    padding: 20px ;
    justify-content: space-around;
}
.containerHeader {
    text-align: left;
    margin: 40px auto;

}
.containerHeader h1 {
    font-size: 80px;    
}
.containerHeader h2 {
 
    font-size: 50px;
    font-weight: 900;
  
}
.Evan img{
    border-radius: 50%; 
    max-width: 100%;
    width: 100%;
}
.containerHeader h1 span{
    color: #E20783;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.containerHeader p {
    width: 50%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: #BDC7D5;
}

/* button */
.design-btn {
    margin-top: 50px;
}

.btn {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: white;
    border:none;
    font-size: 15px;
    border-radius: 5px;
    width: 170px;
    padding: 15px;
}

.bg-btn1 {
    margin-right: 20px;
    border:none;
    background-image: linear-gradient(red, yellow);
}
.bg-btn2 {
    color: black;
}
.bx {
    font-size: 20px;
}

 